html {
  position: relative;
  min-height: 100%;
}

/* Override of navbar hover effects*/
.overrideNav #lHeader:hover{
    text-decoration: none;
    color: inherit;
}

/* Override of bootstrap navbar which changes colors*/
.navbar-custom{
    background-color: rgba(255,255,255,0.3);
    border-bottom: 2px solid rgba(0,0,0,0.4);
}

/* Overide of nav bar font and text color*/
.navbar-custom .navbar-brand p, .navbar-custom .nav li a{
    color: whitesmoke;
    font-family: Raleway;
}

/* Navbar link hover styling*/
.navbar-custom .nav li a:hover{
    background-color: rgba(0,0,0,0.4);
}

/* Override Navbar brand link hover styling (top-left)*/
.navbar-custom .navbar-brand a:hover{
    text-decoration: none;
}

/* Footer positioning*/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}

.footer-style{
    text-align: center;
    background-color: rgba(0,0,0,0.3);
}

/* Footer styling*/
.footer-style p{
    padding: 0;
    margin: 0;
    color: rgba(255,255,255,0.1);
}

/* Background of each page once logged in*/
.background{
    background: url(../media/glare.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    margin-bottom: 60px;
}

/* Background of login page with positioning*/
.splash{
    background: url(../media/glare.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
    margin: 0;
    color: white;
    font-family: Raleway;
}

/* Header styling and positioning for each page*/
.splashHeader{
    display: block;
    text-align: center;
    margin: 10% 20% 50px 20%;
    color: white;
    font-family: Raleway;
}

/* Background of each page once logged in*/
.splashHeader h2{
    font-size: 300%;
}

/* Styling and positioning of form elements*/
.loginForm, .searchForm, .insertForm, .deleteForm {
    text-align: center;
    width: 650px;
    height: auto;
    margin: 0 auto;
}

.updateForm{
   text-align: center;
    width: 700px;
    height: auto;
    margin: 0 auto;
}

.leftUpdate{
    float: left;
    width: 300px;
}

.rightUpdate{
    float: right;
    width: 300px;
}




/* Browser Tweaks*/
/* Chrome form border fix*/
input:focus{
    outline: none;
}

/* Chrome autofill fix on login page*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white !important;
}

/* Form placehoder color fix for all browsers except chrome*/
.loginForm::-moz-placeholder, .loginForm:-ms-input-placeholder, .loginForm:-moz-placeholder, .loginForm::placeholder{
    color: white;
}
/* Chrome placeholder color fix*/
input::-webkit-input-placeholder{
    color: white;
}
/* Browser Tweaks*/


/* Login form input styling*/
.loginForm input {
    margin-top: 10px;
    border: none;
    border-radius: 8px;
}

/* Login form input styling*/
#login-form #u-input1, #login-form #u-input2 {
    padding: 8px;
    width: 260px;
    color: white;
    background-color: rgba(196, 197,198,0.3);
    border: 2px solid rgba(196, 197,198,0.35);
}

/* Login form log in button*/
.s-input1 {
    width: 100px;
}

/* Login form cotinue as guest button*/
.s-input2{
    width: 200px;
}

/* Login form button styling*/
.s-input1, .s-input2{
    padding: 6px;
    margin-top: 15px;
}

/* white text formatter*/
.white-text {
    color: white;
}

.backArrow{
    position: absolute;
    top: 18vh;
    left: 5vw;
    font-size: 30px;
}

.backArrow p a span{
color: white;
}

.backArrow p a:hover span{
color: black;
}
