.overrideNav #lHeader:hover{
    text-decoration: none;
    color: inherit;
}

.navbar-custom{
    background-color: rgba(255,255,255,0.4);
    border-bottom: solid 2px rgba(0,0,0,0.3);
}

.navbar-custom .navbar-brand p, .navbar-custom .nav li a{
    color: white;
}

.navbar-custom .nav li a:hover{
    background-color: transparent;
}

.footer-fixed{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background-color: rgba(0,0,0,0.3);
}

.footer-fixed p{
    padding: 0;
    margin: 0;
    color: rgba(196, 197,198,0.3);
}

.background{
    background: url(../media/Darker-Background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}


.splash{
    background: url(../media/background1-blur2.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    padding: 0;
    margin: 0;
    color: white;
    font-family: Raleway;
}

.splashHeader{
    position: absolute;
    top: 30vh;
    left: 50vw;
    text-align: center;
    height: 200px;
    width: 400px;
    margin: -100px 0px 0px -200px;
    color: white;
}

.splashHeader h2{
    font-size: 350%;
    font-weight: bold;
}

.loginForm{
    position: absolute;
    top: 55vh;
    left: 50vw;
    text-align: center;
    height: auto;
    width: 300px;
    margin: -100px 0px 0px -150px;
}



/* Browser Tweaks*/
input:focus{
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white !important;
}

.loginForm::-moz-placeholder, .loginForm:-ms-input-placeholder, .loginForm:-moz-placeholder, .loginForm::placeholder{
    color: white;
}

input::-webkit-input-placeholder{
    color: white;
}
/* Browser Tweaks*/



.loginForm input{
    margin-top: 10px;
    border: none;
    border-radius: 8px;
}

.loginForm #u-input{
    padding: 8px;
    width: 260px;
    color: white;
    background-color: rgba(196, 197,198,0.3);
    border: solid 2px rgba(196, 197,198,0.35);
}

.loginForm #s-input1{
    padding: 6px;
    margin-top: 20px;
    width: 100px;
    background-color: rgba(196, 197, 198,0.5);
    border: solid 2px rgba(196, 197, 140,0.2);
}

.loginForm #s-input2{
    padding: 6px;
    margin-top: 15px;
    width: 200px;
    background-color: rgba(196, 197, 198,0.5);
    border: solid 2px rgba(196, 197, 140,0.2);
}
